:root {
  --transition: all 0.4s linear;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(115deg,
      rgba(255, 255, 255, 0.3),
      rgba(153, 204, 255, 0.3)),
    url(https://scott-a-m.github.io/hosted-assets/tomatoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* 255, 255, 255 */
}

.logo {
  color: white !important;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 1.5rem;
}

.sub-head {
  font-family: 'Akaya Telivigala', cursive;
  text-align: center;
}

.date {
  font-size: 0.8rem;
}

.navbar {
  color: white !important;
  background-color: hsl(0, 100%, 65%) !important;
}

.navbar-link {
  color: white !important;
  text-decoration: none !important;
  transition: var(--transition);
}

.navbar-link:hover {
  text-decoration: underline !important;
}

.logout-btn {
  background-color: white;
  border: 1px hsl(0, 100%, 50%);
  border-radius: 0.2rem;
  color: hsl(0, 100%, 50%);
  width: 100px;
  margin-left: 0.5rem;
  transition: var(--transition);
}

.logout-btn:hover {

  background-color: hsl(0, 100%, 50%);
  border: 1px white;
  border-radius: 0.2rem;
  color: white;
}

#load-more {
  text-align: center;
}


#load-more-btn {
  background-color: white;
  border: 1px hsl(0, 100%, 50%);
  border-radius: 0.2rem;
  color: hsl(0, 100%, 50%);
  font-size: 1.2rem;
  transition: var(--transition);
}

#load-more-btn:hover {

  background-color: hsl(0, 100%, 50%);
  border: 1px white;
  border-radius: 0.2rem;
  color: white;
}

.msg {
  background-color: hsl(0, 100%, 60%);
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.2rem;
}

h1 {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 2.5rem;
}

#clock-block {
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.create-task-block {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  justify-content: end;
}

.edit-task-block {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  justify-content: end;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.input-block {
  grid-column: span 4;
}

.label-block {
  grid-column: span 1;
  font-family: 'Akaya Telivigala', cursive;
  text-align: right;
  padding-right: 0.5rem;
}

.link {
  transition: var(--transition);

}

.link:hover {
  color: red !important;
  background-color: white;
  text-decoration: none;
}

.status-incomplete {
  color: red;
  background: white;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.status-complete {
  color: green;
  background: white;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.btn-task {
  display: flex;
  justify-content: space-between;
}

#task-block {
  background-color: hsl(0, 100%, 65%);
  border-radius: 0.5rem;
  color: white;
  padding: 1rem;
  margin-right: 20%;
  margin-left: 20%;
}

#loader {
  background-color: hsl(0, 100%, 65%);
  border-radius: 0.5rem;
  color: white;
  padding: 1rem;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  width: 100%;
}

.tasks-list {
  padding: 1rem;
  background-color: hsl(0, 100%, 70%);
  border-radius: 0.5rem;
  margin: 1rem;
  overflow-wrap: break-word;
}

.btn {
  border-radius: 1rem;
  background-color: white;
  color: red;
  text-align: center;
  transition: var(--transition);

}

.form-btn {
  border-radius: 1rem;
  border: white 1px;
  background-color: white;
  color: hsl(0, 100%, 50%);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  transition: var(--transition);
}

.account-form-btn {
  border-radius: 1rem;
  border: white 1px;
  background-color: white;
  color: hsl(0, 100%, 50%);
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  transition: var(--transition);
}

.account-form-btn:hover {
  border-radius: 1rem;
  border: hsl(0, 100%, 50%) 1px;
  background-color: hsl(0, 100%, 50%);
  color: white;
}

.form-btn:hover:enabled {
  border-radius: 1rem;
  border: hsl(0, 100%, 50%) 1px;
  background-color: hsl(0, 100%, 50%);
  color: white;
}


.edit-btn {
  border-radius: 3rem;
  background-color: white;
  border: 1px white;
  color: hsl(0, 100%, 50%);
  text-align: center;
  height: 30px;
  min-width: 70px;
  margin-left: 10px;
  transition: var(--transition);
}

.edit-btn:hover:enabled {

  background-color: hsl(0, 100%, 50%);
  border: 1px hsl(0, 100%, 50%);
  color: white;
}


.delete-btn {
  border-radius: 3rem;
  background-color: black;
  border: 1px black;
  color: white;
  text-align: center;
  float: right;
  height: 30px;
  min-width: 70px;
  margin-left: 10px;
  transition: var(--transition);
}

.delete-btn:hover:enabled {
  background-color: hsl(0, 100%, 50%);
  border: 1px black;
  color: white;

}

.delete-task-block {
  text-align: center
}

.delete-task-name {
  font-size: 1.8rem;
  font-family: 'Akaya Telivigala', cursive;
}

.form-label {
  font-size: 1.2rem;
  text-align: center;
  display: block;
}

.create-task-label {
  font-size: 1.2rem;
  display: block;
}

.form-box {
  color: white;
  text-align: center;
  padding: 2rem;
  background-color: hsl(0, 100%, 65%);
  border-radius: 0.5rem;
  width: 500px;
  margin-left: 5%;
  margin-right: 5%;

}

.error-msg {

  background-color: white;
  color: red;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;

}


.success-msg {

  background-color: white;
  text-align: center;
  color: green;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;

}

.success-link {
  color: green !important;
  transition: var(--transition);

}

.success-link:hover {
  font-style: italic;
  text-decoration: underline !important;
}


#session-increment, #break-increment, #session-decrement, #break-decrement {
  background-color: hsl(0, 100%, 75%);
  color: white;
  border: none;
  transition: var(--transition);

}

#session-decrement, #break-decrement {
  margin-right: 3rem;
  margin-bottom: 2rem;
  transition: var(--transition);

}

#start_stop, #reset {
  border: none;
  transition: var(--transition);

}


#frame {
  background-color: hsl(0, 100%, 65%);
  max-width: 600px;
  padding: 10px;
  border-radius: 1rem;
  margin: 0 auto;
}

#display {
  text-align: right;
  background-color: #ffffe6;
}

#timer-label {
  font-size: 2.5rem;
  text-align: right;
  margin-right: 1rem;
  padding-top: 1rem;
  color: hsl(0, 100%, 70%);

}

#time-left {
  font-size: 5rem;
  text-align: left;
  margin-left: 6rem;
  color: hsl(0, 100%, 70%);
}

#controls {
  color: white;
  text-align: left;
  font-size: 1.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: hsl(0, 100%, 70%);

}

#buttons {
  padding-top: 2.8rem;
  font-size: 1.5rem;
  background-color: hsl(0, 100%, 70%);
  border-bottom-right-radius: 0.5rem;
}

#start_stop, #reset {
  background-color: hsl(0, 100%, 70%);
  color: white;
  transition: var(--transition);

}

.task-name {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 2rem;
  overflow-wrap: break-word;


}

.create-task-icon:hover {
  cursor: pointer;
}

#timer-title {
  text-align: center;
  color: white;
  font-size: 3.5rem;
  margin-top: -0.5rem;
  font-family: 'Akaya Telivigala', cursive;
}


#about {
  margin-top: 5rem;
  margin-left: 20%;
  margin-right: 20%;
  background-color: hsl(0, 100%, 65%);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding: 1rem;
  color: white;
}

#about-title {
  text-align: center;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 2.5rem;
}


#welcome {
  margin-top: 6rem;
  text-align: center;
  color: white;

  text-shadow: 2px 2px 8px #FF0000;
}


#welcome-title {
  text-align: center;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 6rem;
}

#welcome-subtitle {
  text-align: center;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 3rem;
}

.start-link {
  text-decoration: none;
  transition: var(--transition);

}

.start-link:hover {
  text-decoration: none;
  text-shadow: 2px 2px 8px white;

}

a {
  color: white;
  transition: var(--transition);


}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

.about-link:hover {
  color: red;
  background: white;
  text-decoration: none;
}

.form-box a:hover {
  color: hsl(0, 100%, 50%);
  background-color: white;
  text-decoration: none;
}


#pomo-it {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 1.4rem;
}

#designer {
  color: white;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 1.5rem;
  text-align: center;
}

#contact-block {
  font-family: 'Akaya Telivigala', cursive;
  text-align: center;
}

.contact-icon {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  transition: var(--transition);

}

.contact-icon:hover {
  color: red;
  background: white;
  cursor: pointer;
}

@media (max-width: 1000px) {

  #task-block {
    margin-right: 10%;
    margin-left: 10%;
  }

  #about {
    margin-right: 10%;
    margin-left: 10%;
  }
}




@media (max-width: 650px) {



  #welcome-title {

    font-size: 4rem;
  }

  #welcome-subtitle {

    font-size: 2rem;
  }


  #frame {
    background-color: hsl(0, 100%, 65%);
    max-width: 400px;
    padding: 10px;
    border-radius: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2rem;
  }


  #display {
    text-align: center !important;
  }

  #timer-label {
    text-align: center !important;
    margin-right: 0;
    font-size: 2rem;
  }

  #time-left {
    font-size: 3rem;
    text-align: center;
    margin-left: 0
  }



  #controls {
    text-align: center;
    border-bottom-left-radius: 0rem;

  }

  #buttons {
    text-align: center;
    padding: 0.5rem;
    border-bottom-left-radius: 0.5rem;

  }

  #break-length {
    display: block;
    margin-bottom: 1rem;
  }

  #session-length {
    display: block;
    margin-bottom: 1.5rem;
  }

  #break-label {
    margin-top: 1.5rem;
  }

  #session-decrement, #break-decrement {
    margin-right: 0;
    margin-bottom: 0;
  }

  #break-label {
    margin-top: 1rem;
  }

  #timer-title {
    font-size: 3rem;
  }


  #frame {
    max-width: 100%;
  }

  #task-block {
    margin-right: 5%;
    margin-left: 5%;
  }

  #about {
    margin-right: 5%;
    margin-left: 5%;
  }
}



#start_stop:hover, #reset:hover, #break-decrement:hover, #break-increment:hover, #session-decrement:hover, #session-increment:hover {
  color: red;

}